html, body {
    height: 100%;
    margin: 0;
}

input[type="text"] {
    background-color: white;
    color: black;
    border: 1 px solid #000000;
    border-radius: 15px;
    padding: 1px 10px 1px 10px;
}

input[type="text"]:hover{
    box-shadow: 0 0 8px #8a8a8a;
}

input[type="submit"]:hover{
    box-shadow: 0 0 8px #424242;
}

input[type="submit"] {
    background-color: black;
    color: white;
    font-weight: 500;
    border: 1px ;
    border-radius: 15px;
    padding: 2px 10px 2px 10px;
    margin-left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tam6 {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 72px;
    margin: 5px;
}

.tam2 {
    background-color: white;
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-shadow: 2px 2px 10px #424242;
}